<!DOCTYPE html>

<head>
    <title>Keystor - Warehouses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Limberth Vasquez" content="Keystor" />

    <!-- Favicon icon -->
    <link rel="icon" href="../assets/images/ic_launcher-web.png" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="../assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.css"> -->
    <script src="../assets/plugins/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="../index.html" class="b-brand">
                    <label><img src="../assets/images/keystore_logo.png" class="image-responsive" width="125px" height="50px"></label>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item active pcoded-menu-caption mb-2">
                        <!-- <label style="font-size: 12px;"><img src="assets/images/ic_launcher-web.png" class="circle mr-3 image-responsive" width="55px" height="55px">Limberth Vasquez</label> -->
                        <label style="font-size: 12px;" id="userLoginName"></label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item ">
                        <a href="../index.html" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                        class="nav-item pcoded-hasmenu">

                    </li>
                    <!-- <li class="nav-item pcoded-menu-caption">
                        <label>Lista 1</label>
                    </li> -->
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
                        class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-lock"></i></span><span
                                class="pcoded-mtext">Authentication</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="../auth-signup.html" class="" target="_blank">Sign up</a></li>
                            <li class=""><a href="../auth-signin.html" class="" target="_blank">Sign in</a></li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Users</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="" class="" target="_blank">Adveriser Users</a></li>
                            <li class=""><a href="" class="" target="_blank">Client Users</a></li>
                            <li class=""><a href="" class="" target="_blank">Event Users</a></li>
                            <li class=""><a href="" class="" target="_blank">Warehouse Users</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-more-horizontal"></i></span><span class="pcoded-mtext">Services</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="" class="" target="_blank">Type Services </a></li>
                            <li class=""><a href="" class="" target="_blank">Services Advertiser</a></li>
                            <li class=""><a href="" class="" target="_blank">Services Warehouse</a></li>
                        </ul>
                    </li> -->
                    <!-- <li class="nav-item pcoded-menu-caption">
                        <label>Lista 2</label>
                    </li> -->
                    <li data-username="Charts Morris" class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Contracts</span>
                        </a>
                    </li>
                    <li data-username="Maps Google" class="nav-item active">
                        <a href="warehouse.html" class="nav-link"><span class="pcoded-micon"><i
                                    class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Warehouses</span>
                        </a>
                    </li>
                    <li data-username="Maps Google" class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-zap"></i></span><span class="pcoded-mtext">Events</span>
                        </a>
                    </li>
                    <li data-username="Maps Google" class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-mail"></i></span><span class="pcoded-mtext">Publicities</span>
                        </a>
                    </li>
                    <li data-username="Maps Google" class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-map-pin"></i></span><span class="pcoded-mtext">Locations</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item pcoded-menu-caption">
                        <label>Lista 3</label>
                    </li> -->
                    <li data-username="Table bootstrap datatable footable" class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-server"></i></span>
                            <span class="pcoded-mtext">Roles</span>
                        </a>
                    </li>
                    <li data-username="Sample Page" class="nav-item">
                        <a href="#" class="nav-link"> <span class="pcoded-micon"><i
                                    class="feather icon-sidebar"></i></span>
                            <span class="pcoded-mtext">Type Services</span>
                        </a>
                    </li>
                    <li data-username="Configurations" class="nav-item">
                        <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-settings"></i>
                            </span>
                            <span class="pcoded-mtext">Configurations</span>
                        </a>
                    </li>
                    <!-- <li data-username="Disabled Menu" class="nav-item disabled"><a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled menu</span></a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <div class="container">
        <!-- <h2>Modal Example</h2>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create - Edit Warehouse</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Latitude:</label>
                                <input type="text" class="form-control" id="Latitud">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Longitude:</label>
                                <input type="text" class="form-control" id="Longitud">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Address:</label>
                                <input type="text" class="form-control" id="Address">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Image URL:</label>
                                <input type="text" class="form-control" id="imgUrl">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveWarehouse">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="alert alert-success alert-dismissible" style="display: none;" id="successAlert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> The instance was created-edited.
                    </div>
                    <div class="alert alert-info alert-dismissible " style="display: none;" id="infoAlert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
                    </div>
                    <div class="alert alert-warning alert-dismissible " style="display: none;" id="warningAlert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
                    </div>
                    <div class="alert alert-danger alert-dismissible " style="display: none;" id="dangerAlert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative
                        action.
                    </div>
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Warehouses</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="../index.html"><i
                                                    class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Warehouses</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Warehouses Manager</h5>
                                <!-- <span class="d-block m-t-5">use class <code>table-hover</code> inside table
                                    element</span> -->
                                <button id="btnOpenModal" data-toggle="modal" data-target="#myModal" type="button"
                                    class="btn btn-outline-primary" style="float: right;" title="Add Warehouse"
                                    data-toggle="tooltip">Add</button>

                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover footable toggle-circle-filled" data-page-size="4" data-filter="#filter" data-filter-text-only="true">
                                        <thead>
                                            <tr>
                                                <!-- <th>#</th> -->
                                                <th><span>Name</span></th>
                                                <th><span>Latitude</span></th>
                                                <th><span>Longitude</span></th>
                                                <th><span>Address</span></th>
                                                <!-- <th><span>Image URL</span></th> -->
                                                <th><span>Description</span></th>
                                                <th><span>Actions</span></th>
                                            </tr>
                                        </thead>
                                        <tbody id="Warehouses">
                                            <!--  generate in js -->
                                        </tbody>
                                    </table>
                                    <ul class="pagination pull-right hide-if-no-paging"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>

    <!-- [ Main Content ] end -->

    <!-- Warning Section Ends -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/config/ConfigFirebase.js"></script>
    <script src="../assets/js/Firebase.js"></script>
    <!-- Required Js -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
               https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>

    <script src="../assets/js/Warehouses/warehouseController.js"></script>
    <script src="../assets/js/Warehouses/warehouses.js"></script>

    <script src="../assets/js/vendor-all.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/pcoded.min.js"></script>
    <!-- <script defer src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script> -->
    <script defer src="https://www.gstatic.com/firebasejs/7.8.1/firebase-firestore.js"></script>

    <script defer src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- <script src="/__/firebase/7.8.1/firebase-app.js"></script> -->
</body>

</html>